# EDA on commute data

In [1]:
import pandas as pd
import numpy as np

In [2]:
# load data
table1 = pd.read_excel(
    '../data/commute/table1.xlsx',
    #header=5,
    skiprows=[0,1,2,3,4,5, 139440, 139441],
    dtype=str
)
table1.columns = [
    'Resident State FIPS',
    'Resident County FIPS',
    'Resident State Name',
    'Resident County Name',
    'Work State FIPS',
    'Work County FIPS',
    'Work State Name',
    'Work County Name',
    'commute',
    'error',
]

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [3]:
# load data: county info
county_info = pd.read_csv('../data/02_county_FIPS.csv', dtype=str, index_col=0)

In [4]:
# preprocess the table : change the double float type
table1['commute'] = table1['commute'].astype(np.float)
table1['error'] = table1['error'].astype(np.float)

In [5]:
# preprocess: change the county FIPS
table1['Work State FIPS'] = table1['Work State FIPS'].apply(lambda x : x[1:] if type(x) == str else np.nan)
table1['Resident County FIPS'] = table1['Resident State FIPS'] + table1['Resident County FIPS']
table1['Work County FIPS'] = table1['Work State FIPS'] + table1['Work County FIPS']

In [6]:
# visualize the california data
table1[table1['Resident State Name'] == 'California']

,Resident State FIPS,Resident County FIPS,Resident State Name,Resident County Name,Work State FIPS,Work County FIPS,Work State Name,Work County Name,commute,error
6585,06,06001,California,Alameda County,01,01089,Alabama,Madison County,4.0,6.0
6586,06,06001,California,Alameda County,04,04013,Arizona,Maricopa County,106.0,48.0
6587,06,06001,California,Alameda County,04,04019,Arizona,Pima County,31.0,37.0
6588,06,06001,California,Alameda County,05,05007,Arkansas,Benton County,13.0,21.0
6589,06,06001,California,Alameda County,06,06001,California,Alameda County,462270.0,3414.0
...,...,...,...,...,...,...,...,...,...,...
10412,06,06115,California,Yuba County,32,32031,Nevada,Washoe County,65.0,71.0
10413,06,06115,California,Yuba County,41,41027,Oregon,Hood River County,7.0,13.0
10414,06,06115,California,Yuba County,45,45083,South Carolina,Spartanburg County,5.0,8.0
10415,06,06115,California,Yuba County,48,48029,Texas,Bexar County,19.0,27.0
10416,06,06115,California,Yuba County,03,NaN,Mexico,NaN,1.0,4.0

In [7]:
# visualize the states with the most people go to work
table1.groupby('Work State Name')['commute'].sum().sort_values(ascending=False).head()

Work State Name
California    16864403.0
Texas         11961894.0
New York       9417672.0
Florida        8385355.0
Illinois       5971813.0
Name: commute, dtype: float64

In [8]:
# visualize the states with the most people resides
table1.groupby('Resident State Name')['commute'].sum().sort_values(ascending=False).head()

Resident State Name
California    16869052.0
Texas         11966019.0
New York       9064986.0
Florida        8432513.0
Illinois       5983836.0
Name: commute, dtype: float64

In [10]:
# preprocess find the county FIPS that are in this data but not in county_info
missed_counties = set(table1['Resident County FIPS'].unique()) - set(county_info['FIPS'])
table1.loc[table1['Resident County FIPS'].isin(missed_counties), 'Resident County Name'].unique()

array([], dtype=object)

In [11]:
# visualize people from CA to NY
table1[(table1['Resident State Name'] == 'California') & (table1['Work State Name'] == 'New York')]

,Resident State FIPS,Resident County FIPS,Resident State Name,Resident County Name,Work State FIPS,Work County FIPS,Work State Name,Work County Name,commute,error
6673,06,06001,California,Alameda County,36,36001,New York,Albany County,6.0,10.0
6674,06,06001,California,Alameda County,36,36007,New York,Broome County,13.0,25.0
6675,06,06001,California,Alameda County,36,36029,New York,Erie County,8.0,13.0
6676,06,06001,California,Alameda County,36,36047,New York,Kings County,45.0,41.0
6677,06,06001,California,Alameda County,36,36059,New York,Nassau County,4.0,6.0
...,...,...,...,...,...,...,...,...,...,...
10298,06,06111,California,Ventura County,36,36055,New York,Monroe County,9.0,19.0
10299,06,06111,California,Ventura County,36,36061,New York,New York County,15.0,24.0
10300,06,06111,California,Ventura County,36,36103,New York,Suffolk County,7.0,11.0
10369,06,06113,California,Yolo County,36,36061,New York,New York County,8.0,13.0
10370,06,06113,California,Yolo County,36,36091,New York,Saratoga County,16.0,28.0

In [12]:
# save data
table1.to_csv("../data/commute/table1.csv")

In [12]:
# load data
table2 = pd.read_excel(
    '../data/commute/table3.xlsx',
    #header=5,
    #skiprows=[0,1,2,3,4,5, 139440, 139441],
    dtype=str
)

In [13]:
table2

,State FIPS Code,County FIPS Code,Minor Civil Division FIPS Code,State Name,County Name,Minor Civil Division Name,State FIPS Code.1,County FIPS Code.1,Minor Civil Division FIPS Code.1,State Name.1,County Name.1,Minor Civil Division Name.1,Workers in Commuting Flow,Margin of Error
0,01,001,NaN,Alabama,Autauga County,NaN,001,001,NaN,Alabama,Autauga County,NaN,8828,752
1,01,001,NaN,Alabama,Autauga County,NaN,001,013,NaN,Alabama,Butler County,NaN,6,10
2,01,001,NaN,Alabama,Autauga County,NaN,001,021,NaN,Alabama,Chilton County,NaN,504,228
3,01,001,NaN,Alabama,Autauga County,NaN,001,043,NaN,Alabama,Cullman County,NaN,27,44
4,01,001,NaN,Alabama,Autauga County,NaN,001,047,NaN,Alabama,Dallas County,NaN,296,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594382,72,153,NaN,Puerto Rico,Yauco Municipio,NaN,072,153,NaN,Puerto Rico,Yauco Municipio,NaN,4894,532
594383,72,153,NaN,Puerto Rico,Yauco Municipio,NaN,NaN,NaN,NaN,Other workplace outside of the U.S.,NaN,NaN,8,13
594384,Data are based on a sample and are subject to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594385,"Flows are presented for MCDs for the 12 ""stron...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594386,"Source: U.S. Census Bureau, 2011-2015 American...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN